<!doctype html>
{% extends 'base.html' %}
{% block title %}contact{% endblock %}

{% block body %}

<div class="container-fluid my-4 px-5">

    <div id="carouselExampleCaptions" class="carousel slide"
        data-bs-ride="carousel">
        <ol class="carousel-indicators">
        </div>

        <div class="container">
            <h1 class="text-center">contact us</h1>
           <form method ="post" action = "/contact"> 
            
            {% csrf_token %}
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="name" class="form-label">Name</label>
                    <input type="name" class="form-control" id="name" name="name" placeholder="enter your name">
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control"
                        id="email" name = "email" placeholder="enter last email">
                </div>
                <div class="col-12">
                    <label for="address" class="form-label">Address</label>
                    <input type="address" class="form-control" id="address" name = "address"
                        placeholder="1234 Main St">
                </div>
                <div class="col-12">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="phone" class="form-control" id="phone" name = "phone">
              
                <div class="col-md-4">
                    <label for="state" class="form-label">State</label>
                    <select id="state" name = "state" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="zip" class="form-label">Zip</label>
                    <input type="zip" name = "zip" class="form-control" id="Zip">
                </div>

               


                
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">submit</button>
                </div>
            </form>


            {% endblock body %}